div(ng-controller='DefaultCtrl')
    h1.page-header Панель управления
    .row.placeholders
        a.col-xs-6.col-sm-6.placeholder(href="#/locatiosbycity")
            section.stage
                figure.ball
                    span.shadow
            h4 Координаты по Городу
        a.col-xs-6.col-sm-6.placeholder(href="#/locatiobyip")
            section.stage
                figure.eye
                    span.shadow
                    span.iris
            h4 Координаты по IP