<div class="pokemon-list">
  <div class="pokemon-list__items">
    <mat-progress-bar
      *ngIf="isLoading$ | async"
      mode="indeterminate"
    ></mat-progress-bar>

    <div class="pokemon-list__items__card" *ngFor="let item of items$ | async; trackBy: trackById">
      <app-pokemon-buy-card
        [id]="item.id"
        [name]="item.name"
        [link]="[item.id + '']"
      ></app-pokemon-buy-card>
    </div>
  </div>

  <ng-container *ngIf="total$ | async  as total">
    <mat-paginator *ngIf="paging$ | async as paging"
                   [length]="total"
                   [pageSize]="paging.limit"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="setPage($event)"
                   aria-label="Select page">
    </mat-paginator>
  </ng-container>
</div>

