<div class="pokemon-cart">
  <div class="pokemon-cart__items">
    <div class="pokemon-cart__items__cards" *ngFor="let item of items$ | async; trackBy: trackById">
      <app-pokemon-buy-card
        [id]="item.id"
        [name]="item.name"
        [link]="['../', item.id + '']"
      ></app-pokemon-buy-card>
    </div>

  </div>
  <div class="pokemon-cart__total" *ngIf="totals$ | async as total">
    <div>
      total items
    </div>
    <div>
      {{total.count}}
    </div>
    <div>
      total price
    </div>
    <div>
      {{total.sum}}$
    </div>
  </div>
</div>
