<div class="pokemon-cart">
  <div class="pokemon-cart__items">
    <div class="pokemon-cart__items__cards" *ngFor="let item of items$ | async">
      <app-pokemon-card
        [id]="item.id"
        [price]="item.price"
        [link]="['../', item.id]"
        [title]="item.name"
      ></app-pokemon-card>
      <app-pokemon-cart-button
        [id]="item.id"
        [name]="item.name"
        [price]="item.price"
      ></app-pokemon-cart-button>
    </div>

  </div>
  <div class="pokemon-cart__total">
    <div>
      total items
    </div>
    <div>
      2
    </div>
    <div>
      total price
    </div>
    <div>
      22$
    </div>
  </div>
</div>
